# 3 Advanced Pandas Methods for Data Scientists

Source code for Medium's article ["3 Advanced Pandas Methods for Data Scientists"](https://towardsdatascience.com/3-advanced-pandas-methods-for-data-scientist-c7935152b2ca) written by [Kaushik Choudhury](https://towardsdatascience.com/@kaushikthoughts).

In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame(
    [["Keras", "2015", "Python", "Yes"],
     ["CNTK", "2016", "C++", "Yes"],
     ["PlaidML", "2017", "Python, C++, OpenCL", "No"]],
     index=[1, 2, 3],
     columns= ["Software", "Initial Release", "Written In", "CUDA Support"])

print(df1)

Software Initial Release           Written In CUDA Support
1    Keras            2015               Python          Yes
2     CNTK            2016                  C++          Yes
3  PlaidML            2017  Python, C++, OpenCL           No

In [5]:
df2 = df1.melt(id_vars=["Software"], var_name="Characteristics")

print(df2)

Software  Characteristics                value
0    Keras  Initial Release                 2015
1     CNTK  Initial Release                 2016
2  PlaidML  Initial Release                 2017
3    Keras       Written In               Python
4     CNTK       Written In                  C++
5  PlaidML       Written In  Python, C++, OpenCL
6    Keras     CUDA Support                  Yes
7     CNTK     CUDA Support                  Yes
8  PlaidML     CUDA Support                   No

In [6]:
df3 = df2.pivot(index="Software", columns="Characteristics")

print(df3)

value
Characteristics CUDA Support Initial Release           Written In
Software
CNTK                     Yes            2016                  C++
Keras                    Yes            2015               Python
PlaidML                   No            2017  Python, C++, OpenCL

In [8]:
df4 = pd.DataFrame(
    [["François Chollet", "MIT License"],
     ["Microsoft Research", "MIT License"],
     ["Vertex.AI,Intel", "AGPL"]],
     index=[1, 2, 3], columns=["Creator", "License"]
)

print(df4)

Creator      License
1    François Chollet  MIT License
2  Microsoft Research  MIT License
3     Vertex.AI,Intel         AGPL

In [10]:
df5 = pd.concat([df1, df4], axis=1)

df5

,Software,Initial Release,Written In,CUDA Support,Creator,License
1,Keras,2015,Python,Yes,François Chollet,MIT License
2,CNTK,2016,C++,Yes,Microsoft Research,MIT License
3,PlaidML,2017,"Python, C++, OpenCL",No,"Vertex.AI,Intel",AGPL

In [11]:
df6 = pd.DataFrame([
    ["CNTK", "Microsoft Research", "MIT License"],
    ["Keras", "François Chollet", "MIT License"],
    ["PlaidML", "Vertex.AI,Intel", "AGPL"]
], index=[1, 2, 3], columns=["Software", "Creator", "License"])

print(df6)

Software             Creator      License
1     CNTK  Microsoft Research  MIT License
2    Keras    François Chollet  MIT License
3  PlaidML     Vertex.AI,Intel         AGPL

In [13]:
combined = df1.merge(df6, on="Software")

combined

,Software,Initial Release,Written In,CUDA Support,Creator,License
0,Keras,2015,Python,Yes,François Chollet,MIT License
1,CNTK,2016,C++,Yes,Microsoft Research,MIT License
2,PlaidML,2017,"Python, C++, OpenCL",No,"Vertex.AI,Intel",AGPL