# Ultimate Pandas Guide — Creating a DataFrame

Source code from Medium's article ["Ultimate Pandas Guide — Creating a DataFrame"](https://towardsdatascience.com/ultimate-pandas-guide-creating-a-dataframe-9f063e590e78) written by [Skyler Dale](https://towardsdatascience.com/@skylerdale).

# Understanding the "DataFrame" method

In [1]:
import pandas as pd

empty_df = pd.DataFrame()

## Creating a DataFrame from a list of lists

In [5]:
data = [["panda", "bamboo", 100],
        ["koala", "eucalyptus", 100]]

pd.DataFrame(data, columns=["animal", "favorite_food", "cuteness_level"])

  animal favorite_food  cuteness_level
0  panda        bamboo             100
1  koala    eucalyptus             100

## Creating a DataFrame from a dictionary — Method #1

In [7]:
data = {"animal": ["panda", "koala"],
        "favorite_food": ["bamboo", "eucalyptus"],
        "cuteness_level": [100, 100]
       }

pd.DataFrame(data)

  animal favorite_food  cuteness_level
0  panda        bamboo             100
1  koala    eucalyptus             100

## Creating a DataFrame from a dictionary — Method #2

In [8]:
data = {"animal": ["panda", "koala"],
        "favorite_food": ["bamboo", "eucalyptus"],
        "cuteness_level": [100, 100]
       }

pd.DataFrame.from_dict(data, orient= "index", columns=["first_animal", "second_animal"])

               first_animal second_animal
animal                panda         koala
favorite_food        bamboo    eucalyptus
cuteness_level          100           100

## Creating a DataFrame from a list of dictionaries

In [9]:
data = [{"animal": "panda",
         "favorite_food": "bamboo",
         "cuteness_level": 100
        },
        {"animal": "koala",
         "favorite_food": "eucalyptus",
         "cuteness_level": 100
        }
       ]

pd.DataFrame(data)

  animal favorite_food  cuteness_level
0  panda        bamboo             100
1  koala    eucalyptus             100

## Creating a DataFrame from numpy array

In [12]:
import numpy as np

data = np.array([("panda", "bamboo", 100),
                 ("koala", "eucalyptus", 100)],
                 dtype=[("animal", "U6"),
                       ("favorite_food", "U6"),
                       ("cuteness_leve", int)
                ]
               )

pd.DataFrame(data)

  animal favorite_food  cuteness_leve
0  panda        bamboo            100
1  koala        eucaly            100