# How To run SQL queries from a Jupyter Notebook

Source code for Medium's article [How To run SQL queries from a Jupyter Notebook](https://bit.ly/3d7w2qJ), written by [Roman Orac](https://romanorac.medium.com/).

## Import libraries

In [3]:
import sqlalchemy
import pandas as pd

## Meet ipython-sql

### Load SQL module

In [5]:
%load_ext sql

# Connect to SQlite
#
%sql sqlite://

'Connected: @None'

In [7]:
%%sql

CREATE TABLE sales
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);

INSERT INTO sales
VALUES ('sale_1', '2019-11-08 00:00', 0, TRUE, 1.1),
       ('sale_2', '2019-11-08 01:00', 0, FALSE, 1.2),
       ('sale_3', '2019-11-08 01:00', 0, TRUE, 1.3),
       ('sale_4', '2019-11-08 01:00', 1, FALSE, 1.4),
       ('sale_5', '2019-11-08 02:00', 1, TRUE, 1.5),
       ('sale_6', '2019-11-08 02:00', 1, TRUE, 1.5);

 * sqlite://
Done.
6 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [9]:
%%sql

SELECT * FROM sales;

 * sqlite://
Done.

[('sale_1', '2019-11-08 00:00', 0, 1, 1.1),
 ('sale_2', '2019-11-08 01:00', 0, 0, 1.2),
 ('sale_3', '2019-11-08 01:00', 0, 1, 1.3),
 ('sale_4', '2019-11-08 01:00', 1, 0, 1.4),
 ('sale_5', '2019-11-08 02:00', 1, 1, 1.5),
 ('sale_6', '2019-11-08 02:00', 1, 1, 1.5)]

In [11]:
# Assign the query's result from the previous cell
# to a variable
#
result = _

In [13]:
type(result)

sql.run.ResultSet

In [15]:
df = result.DataFrame()
df

      key                ts  product  completed  price
0  sale_1  2019-11-08 00:00        0          1    1.1
1  sale_2  2019-11-08 01:00        0          0    1.2
2  sale_3  2019-11-08 01:00        0          1    1.3
3  sale_4  2019-11-08 01:00        1          0    1.4
4  sale_5  2019-11-08 02:00        1          1    1.5
5  sale_6  2019-11-08 02:00        1          1    1.5