# Bookmark Analysis

In [33]:
import pandas as pd
import bamboolib as bam

In [2]:
column_names = ["URL", "Title", "Author", "Header 4",
                "Header 5", "Header 6", "Header 7","Header 8",
                "Header 9", "Header 10"]

lines = []

df_links = pd.read_csv("./jpiedragil-bookmarks.txt", sep="|", header=None,
                       names=column_names, encoding="utf-8")

In [3]:
df_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8046 entries, 0 to 8045
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   URL        8046 non-null   object
 1   Title      8026 non-null   object
 2   Author     2977 non-null   object
 3   Header 4   1312 non-null   object
 4   Header 5   1001 non-null   object
 5   Header 6   389 non-null    object
 6   Header 7   3 non-null      object
 7   Header 8   0 non-null      float64
 8   Header 9   0 non-null      float64
 9   Header 10  0 non-null      float64
dtypes: float64(3), object(7)
memory usage: 628.7+ KB

In [4]:
df_links.head()

,URL,Title,Author,Header 4,Header 5,Header 6,Header 7,Header 8,Header 9,Header 10
0,https://medium.com/swlh/what-are-iterables-and...,What are Iterables and Iterators in Python,by Iffat Malik Gore,The Startup,"Aug, 2020",Medium,NaN,NaN,NaN,NaN
1,https://towardsdatascience.com/why-should-data...,Why Should Data Scientists use Functions?,by Renan Lolico,"Aug, 2020",Towards Data Science,NaN,NaN,NaN,NaN,NaN
2,https://medium.com/tenderlymag/if-your-pet-por...,"If Your Pet Portraits Don’t Look Like This, Y...",by Jack Shepherd,"Aug, 2020",Tenderly,NaN,NaN,NaN,NaN,NaN
3,https://codeburst.io/open-source-series-automa...,Open Source Series: Automation. How to do mor...,by JeB Barabanov,"Aug, 2020",codeburst,NaN,NaN,NaN,NaN,NaN
4,https://medium.com/better-programming/prisma-v...,Prisma Vs. TypeORM: Database libraries in Nod...,Better Programming,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_links.tail()

,URL,Title,Author,Header 4,Header 5,Header 6,Header 7,Header 8,Header 9,Header 10
8041,https://dev.to/hugoestradas/data-science-with-...,Data Science With Docker pt. I: Create your F...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8042,https://u.group/thinking/how-to-put-jupyter-no...,How to Put Jupyter Notebooks in a Dockerfile,U.Group - Digital Transformation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8043,https://kb.objectrocket.com/postgresql/python-...,Python and PostgreSQL Docker Container (Part 1),ObjectRocket,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8044,https://towardsdatascience.com/containerize-yo...,Containerize your whole Data Science Environm...,by Danny Janz,Towards Data Science,NaN,NaN,NaN,NaN,NaN,NaN
8045,https://programmaticponderings.com/2019/12/06/...,Getting Started with Data Analytics using Jup...,Programmatic Ponderings,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_links.isnull().sum()

URL             0
Title          20
Author       5069
Header 4     6734
Header 5     7045
Header 6     7657
Header 7     8043
Header 8     8046
Header 9     8046
Header 10    8046
dtype: int64

In [16]:
df_links[df_links["Header 4"].isnull() != True]

,URL,Title,Author,Header 4,Header 5,Header 6,Header 7,Header 8,Header 9,Header 10
0,https://medium.com/swlh/what-are-iterables-and...,What are Iterables and Iterators in Python,by Iffat Malik Gore,The Startup,"Aug, 2020",Medium,NaN,NaN,NaN,NaN
1,https://towardsdatascience.com/why-should-data...,Why Should Data Scientists use Functions?,by Renan Lolico,"Aug, 2020",Towards Data Science,NaN,NaN,NaN,NaN,NaN
2,https://medium.com/tenderlymag/if-your-pet-por...,"If Your Pet Portraits Don’t Look Like This, Y...",by Jack Shepherd,"Aug, 2020",Tenderly,NaN,NaN,NaN,NaN,NaN
3,https://codeburst.io/open-source-series-automa...,Open Source Series: Automation. How to do mor...,by JeB Barabanov,"Aug, 2020",codeburst,NaN,NaN,NaN,NaN,NaN
6,https://towardsdatascience.com/5-essential-pan...,5 Essential Pandas Tips For Easier Data Manip...,by Emmett Boudreau,"Sep, 2020",Towards Data Science,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8033,https://towardsdatascience.com/how-to-train-gr...,How to train graph convolutional network mode...,by Changran Liu,"Oct, 2020",Towards Data Science,NaN,NaN,NaN,NaN,NaN
8036,https://towardsdatascience.com/a-data-scientis...,A Data Scientist Approach: Running Postgres S...,"by MA Raza, Ph.D.",Towards Data Science,NaN,NaN,NaN,NaN,NaN,NaN
8039,https://towardsdatascience.com/getting-started...,Getting Started with Data Analytics using Jup...,by Gary A. Stafford,Towards Data Science,NaN,NaN,NaN,NaN,NaN,NaN
8040,https://medium.com/analytics-vidhya/postgresql...,PostgreSQL Integration with Jupyter Notebook,by Andrei Teleron,Analytics Vidhya,Medium,NaN,NaN,NaN,NaN,NaN
8044,https://towardsdatascience.com/containerize-yo...,Containerize your whole Data Science Environm...,by Danny Janz,Towards Data Science,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_links[df_links["Title"].isnull() == True ]

,URL,Title,Author,Header 4,Header 5,Header 6,Header 7,Header 8,Header 9,Header 10
1162,http://www.paot.org.mx/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1639,https://education.github.com/auth/githubber/ca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1760,https://codeincloud.net/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2384,https://excelzoom.com/run-macro-at-a-specified...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2399,https://excelzoom.com/guide-conditional-format...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3335,http://spacetime.how/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3838,http://orchestrate.io/?ref=producthunt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3933,http://www.surveygizmo.com/s3/3603289/Data-Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3988,https://nortonsafe.search.ask.com/web?q=docker...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3989,https://stackoverflow.com/questions/30172605/h...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4001,https://nortonsafe.search.ask.com/web?q=docker...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4002,https://stackoverflow.com/questions/30172605/h...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5126,http://asus-g75vx-jpg:8000/en-US/account/login...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5603,http://spacetime.how/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6106,http://orchestrate.io/?ref=producthunt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6201,http://www.surveygizmo.com/s3/3603289/Data-Test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6256,https://nortonsafe.search.ask.com/web?q=docker...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6257,https://stackoverflow.com/questions/30172605/h...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6269,https://nortonsafe.search.ask.com/web?q=docker...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6270,https://stackoverflow.com/questions/30172605/h...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_titles = df_links[df_links["Title"].isnull() == False]

In [23]:
df_titles

,URL,Title,Author,Header 4,Header 5,Header 6,Header 7,Header 8,Header 9,Header 10
0,https://medium.com/swlh/what-are-iterables-and...,What are Iterables and Iterators in Python,by Iffat Malik Gore,The Startup,"Aug, 2020",Medium,NaN,NaN,NaN,NaN
1,https://towardsdatascience.com/why-should-data...,Why Should Data Scientists use Functions?,by Renan Lolico,"Aug, 2020",Towards Data Science,NaN,NaN,NaN,NaN,NaN
2,https://medium.com/tenderlymag/if-your-pet-por...,"If Your Pet Portraits Don’t Look Like This, Y...",by Jack Shepherd,"Aug, 2020",Tenderly,NaN,NaN,NaN,NaN,NaN
3,https://codeburst.io/open-source-series-automa...,Open Source Series: Automation. How to do mor...,by JeB Barabanov,"Aug, 2020",codeburst,NaN,NaN,NaN,NaN,NaN
4,https://medium.com/better-programming/prisma-v...,Prisma Vs. TypeORM: Database libraries in Nod...,Better Programming,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8041,https://dev.to/hugoestradas/data-science-with-...,Data Science With Docker pt. I: Create your F...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8042,https://u.group/thinking/how-to-put-jupyter-no...,How to Put Jupyter Notebooks in a Dockerfile,U.Group - Digital Transformation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8043,https://kb.objectrocket.com/postgresql/python-...,Python and PostgreSQL Docker Container (Part 1),ObjectRocket,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8044,https://towardsdatascience.com/containerize-yo...,Containerize your whole Data Science Environm...,by Danny Janz,Towards Data Science,NaN,NaN,NaN,NaN,NaN,NaN
8045,https://programmaticponderings.com/2019/12/06/...,Getting Started with Data Analytics using Jup...,Programmatic Ponderings,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df_query = df_titles[df_titles["Title"].str.contains("Postgres", case=False)].loc[:, ["Title", "URL"]]

In [36]:
df_query

,Title,URL
1512,Two million ways to use Postgres - DEV Commun...,https://dev.to/heroku/two-million-ways-to-use-...
1597,How to Securely Query Postgres in Node.js,https://morioh.com/p/60179140f00b
1659,"(274) PERN Stack Course - Postgres, Express, ...",https://www.youtube.com/watch?v=ldYcgPKEZC8&fe...
1677,How to Install PostgreSQL Database and pgAdmi...,https://www.ubuntupit.com/how-to-install-postg...
2189,Reducing Aurora PostgreSQL storage I/O costs,https://aws.amazon.com/blogs/database/reducing...
2208,Migrating databases using RDS PostgreSQL Tran...,https://aws.amazon.com/blogs/database/migratin...
2313,Announcing Message DB: Event Store and Messag...,https://blog.eventide-project.org/articles/ann...
2478,Getting Started With PostgreSQL’s Row Level S...,https://dzone.com/articles/getting-started-wit...
3009,Auditing: know what's going on in your Postgr...,https://techcommunity.microsoft.com/t5/Azure-D...
3295,NestJS CRUD with Postgres and TypeORM - DEV C...,https://dev.to/rohanfaiyazkhan/nestjs-crud-wit...
3773,PostgreSQL: The world's most advanced open so...,https://www.postgresql.org/
4107,Database Workbench: database development tool...,https://www.upscene.com/database_workbench/
5277,Auditing: know what's going on in your Postgr...,https://techcommunity.microsoft.com/t5/Azure-D...
5563,NestJS CRUD with Postgres and TypeORM - DEV C...,https://dev.to/rohanfaiyazkhan/nestjs-crud-wit...
6041,PostgreSQL: The world's most advanced open so...,https://www.postgresql.org/
6375,Database Workbench: database development tool...,https://www.upscene.com/database_workbench/
6985,SQLite vs MySQL vs PostgreSQL: A Comparison O...,https://www.digitalocean.com/community/tutoria...
7054,How to Query PostgreSQL using Python (with SS...,https://towardsdatascience.com/how-to-query-po...
7252,PostgreSQL synchronous_commit options and Syn...,https://www.percona.com/blog/2020/08/21/postgr...
7813,Exporting PostgreSQL Data to Excel with Python,https://medium.com/explorations-in-python/expo...
7839,Docker Compose Up With Postgres Quick Tips,https://hashinteractive.com/blog/docker-compos...
7947,Understanding PostgreSQL Timestamp Data Types,https://www.postgresqltutorial.com/postgresql-...
7955,Set up a PostgreSQL server and pgAdmin with D...,https://linuxhint.com/postgresql_docker/
7957,Allow docker container to connect to a local/...,https://www.xspdf.com/resolution/50394434.html
7958,How do I connect to Postgresql running on hos...,https://www.upnxtblog.com/index.php/2019/06/03...
7959,Start a PostgreSQL Docker Container and Conne...,https://www.cuba-platform.com/discuss/t/start-...
7960,How to run Postgres on Docker part 1 - Optima...,https://www.optimadata.nl/blogs/3/n8dyr5-how-t...
7961,(109) Docker PostgreSQL Tutorial - Running In...,https://www.youtube.com/watch?v=AVGjN28E760
7962,Add a Postgres Database With Docker to Your P...,https://www.rockyourcode.com/add-a-postgres-da...
7963,Set up a PostgreSQL database with Docker,https://keepgrowing.in/tools/set-up-a-postgres...
7964,Running a .NET app against a Postgres databas...,https://westerndevs.com/running-a-net-app-agai...
7965,Containers and PostgreSQL vs. MySQL vs. MariaDB,https://rancher.com/containers-and-postgresql-...
7966,PostgREST Documentation — PostgREST 7.0.1 doc...,http://postgrest.org/en/v7.0.0/index.html
7973,PostgreSQL as a Time Series Database - Dev Co...,https://dev.t-matix.com/blog/postgresql-as-a-t...
7974,Connect From Your Local Machine to a PostgreS...,https://medium.com/better-programming/connect-...
8036,A Data Scientist Approach: Running Postgres S...,https://towardsdatascience.com/a-data-scientis...
8040,PostgreSQL Integration with Jupyter Notebook,https://medium.com/analytics-vidhya/postgresql...
8043,Python and PostgreSQL Docker Container (Part 1),https://kb.objectrocket.com/postgresql/python-...